/* Generales */
body {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none!important;
}

/* Generales */


/* Colores */
.text-gray {
    color: #4b4b4b !important;
}

.text-white {
    color: #ffffff !important;
}

.bg-amarillo {
    background-color: #f08300 !important;
}

.bg-gray {
    background-color: rgb(219, 219, 219) !important;
}

.text-amarillo {
    color: #f08300 !important;
}
.border-gray{
    border-color: #4b4b4b!important;
}
.bg-yellow{
    background-color: #f08300 !important;
}

/* Colores */

/* Font-sizes */
.text-xs {
    font-size: 0.75rem!important;
    /* 12px */
    line-height: 1rem;
    /* 16px */
}

.text-sm {
    font-size: 0.875rem!important;
    /* 14px */
    line-height: 1.25rem;
    /* 20px */
}

.text-base {
    font-size: 1rem!important;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
}

.page-link a{
    color: #4b4b4b!important;
}




/* Grid Producto */


@media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

